{% load static %}


<nav class="navbar navbar-expand-xl navbar-light fixed-top hk-navbar px-20">
    <div class="d-flex align-items-center">
       <a id="navbar_toggle_btn" class="navbar-toggle-btn nav-link-hover" href="javascript:void(0);"><i class="ion ion-ios-menu"></i></a>
        <a href="{% url 'dashboard' %}">
            <img src="{% static 'pages/assets/img/followupLogo.png' %}" alt="Followup." class="mw-125p">
        </a>
    </div>
    <ul class="navbar-nav hk-navbar-content">
        <li class="nav-item dropdown dropdown-notifications">
            <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ion ion-ios-notifications"></i>
                {% if unread_notifications %}
                    <span class="badge-wrap">
                        <span class="badge badge-primary badge-indicator badge-indicator-sm badge-pill pulse"></span>
                    </span>
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                <div class="dropdown-header d-flex justify-content-between align-items-center">
                    <h6>Powiadomienia</h6>
                </div>
                <div class="position-relative notifications-nicescroll-bar" style="max-height: 260px; overflow-y: scroll">
                    <div id="notification-spinner" class="position-absolute w-100 h-100 z-index-10 justify-content-center align-items-center" style="top:0; left:0; backdrop-filter: blur(1px); display: none">
                        <div class="spinner-border" role="status">
                          <span class="visually-hidden">Ładowanie...</span>
                        </div>
                    </div>
<!--                    {% if not unread_notifications %}-->
<!--                        <p class="text-center my-20">Brak powiadomień</p>-->
<!--                    {% else %}-->
<!--                        {% for notification in unread_notifications %}-->
<!--                            {% if notification.unread_message %}-->
<!--                            <a data-notification="{{ notification.id }}" id="notification-{{ notification.id }}" href="#" class="dropdown-item border-1 border-dark">-->
<!--                                <div class="d-flex flex-column media">-->
<!--                                    <div class="d-flex align-items-center">-->
<!--                                        <div class="media-img-wrap">-->
<!--                                            <div class="avatar avatar-sm">-->
<!--                                                {% if notification.type_notification == "MESSAGE" %}-->
<!--                                                    <span class="avatar-text avatar-text-primary rounded-circle">-->
<!--                                                        <span class="initial-wrap"><span>-->
<!--                                                                <i class="zmdi zmdi-comments font-18"></i>-->
<!--                                                        </span></span>-->
<!--                                                    </span>-->
<!--                                                {% elif notification.type_notification == "PAYMENT" %}-->
<!--                                                    <span class="avatar-text avatar-text-warning rounded-circle">-->
<!--                                                        <span class="initial-wrap"><span>-->
<!--                                                                <i class="zmdi zmdi-card font-18"></i>-->
<!--                                                        </span></span>-->
<!--                                                    </span>-->
<!--                                                {% endif %}-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="media-body">-->
<!--                                            <div class="d-flex flex-column">-->
<!--                                                <span class="small">{{ notification.created }}</span>-->
<!--                                                <div class="notifications-text">{{notification.title}}</div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                            {% endif %}-->
<!--                        {% endfor %}-->
<!--                    {% endif %}-->
                </div>
            </div>
        </li>
        <li class="nav-item dropdown dropdown-authentication">
            <a class="nav-link dropdown-toggle no-caret" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media">
                    <div>
                        <span class="">
                            {{ user.name }} {{ user.surname }}
                            <i class="zmdi zmdi-chevron-down ml-5"></i>
                        </span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right mr-5" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
                <a class="dropdown-item" href="{% url 'profile' %}">
                    <i class="dropdown-icon zmdi zmdi-account "></i>
                    <span>Profile</span>
                </a>
                <a class="dropdown-item" href="{%  url 'change-password' %}">
                    <i class="dropdown-icon zmdi zmdi-lock-outline"></i>
                    <span>Change password</span>
                </a>
                <a class="dropdown-item" href="/accounts/logout/">
                    <i class="dropdown-icon zmdi zmdi-power"></i>
                    <span>Sign out</span>
                </a>
            </div>
        </li>
    </ul>
</nav>