{% load static %}

{% block list-table %}
    <div style="overflow-x: auto">
        <table class="table border-bottom">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Receiver</th>
                    <th scope="col">Language</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for pipeline in page_obj %}
                    <tr>
                        <td>{{ pipeline.id }}</td>
                        <td>{{ pipeline.recipient.email }}</td>
                        <td>{{ pipeline.get_language_display }}</td>
                        <td>{{ pipeline.get_status_display }}</td>
                        <td>{{ pipeline.created_at }}</td>
                        <td>{{ pipeline.updated_at }}</td>
                        <td>
                            <a class="fs-link" href="{% url 'pipeline' pipeline.id %}">Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No data</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page_pipelines=1">&laquo; first</a>
                <a href="?page_pipelines={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page_pipelines={{ page_obj.next_page_number }}">next</a>
                <a href="?page_pipelines={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script defer src="{% static 'pages/assets/custom-js/tables.js' %}"></script>
{% endblock list-table %}