<nav class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">
                <li class="nav-item {% if 'dashboard' in request.path %} active {% endif %}">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="zmdi zmdi-home"></i>
                        <span class="nav-link-text">Home</span>
                    </a>
                </li>
                 <li class="nav-item {% if 'mail' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'email-recipeint' %}">
                        <i class="zmdi zmdi-email"></i>
                        <span class="nav-link-text">Mail</span>
                    </a>
                </li>
                <li class="nav-item {% if 'social-medias' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{%  url 'post-data' %}">
                        <i class="zmdi zmdi-share"></i>
                        <span class="nav-link-text">Social Media</span>
                    </a>
                </li>
                <li class="nav-item {% if 'settings-smtp' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{%  url 'user-smtp' %}">
                        <i class="zmdi zmdi-settings"></i>
                        <span class="nav-link-text">SMTP Settings</span>
                    </a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="{%  url 'create-pipeline' %}">
                        <i class="ion-ios-post"></i>
                        <span class="nav-link-text">Mails to companies</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>