{% extends 'home-post-login.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/assets/custom-css/kid/edit-kid.css' %}">
{%  endblock styles %}
{% block title %} - Change password {% endblock title %}

{% block content %}
    <div class="col-xl-12 py-20">
        <div class="container">
            <div class="w-100">
                <div class="d-flex flex-column card pa-20 shadow-lg">
{#                    {% include 'partials/messages_list.html' %} <--- ten message nie wyświetla się #}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="card-text">
                        <h1 class="font-20 font-weight-600 text-capitalize">Change password</h1>
                        <p>In order to change Your password, fill form below</p>
                    </div>
                    <div class="auth-form w-100">
                        {% url '/profile' as action_url %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <div>
                                <label class="d-flex flex-column" for="id_old_password">
                                    Old password:
                                    <input class="form-control" id="id_old_password" name="old_password" type="password" autocomplete="current-password" placeholder="Old password" autofocus required>
                                    <div class="text-danger">
                                        {{ form.errors.old_password }}
                                    </div>
                                </label>
                                <hr class="border-1 border-dark my-30"/>
                                <div>
                                    <label class="d-flex flex-column" for="id_new_password1">
                                        New password:
                                        <input class="form-control" id="id_new_password1" name="new_password1" type="password" autocomplete="new-password" required>
                                        <div class="text-danger">
                                            {{ form.errors.new_password1 }}
                                        </div>
                                    </label>
                                    <label class="d-flex flex-column" for="id_new_password2">
                                        Confirm password:
                                        <input class="form-control" id="id_new_password2" name="new_password2" type="password" autocomplete="new-password" required>
                                        <div class="text-danger">
                                            {{ form.errors.new_password2 }}
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2">
                                <button class="btn btn-dark shadow-lg" type="submit">Change password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}