{% extends "home.html" %}
{% load static %}

{% block title %}- Change password{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href={% static 'pages/assets/custom-css/password-reset/password_reset_from_key.css' %}>
    <link rel="stylesheet" href="{% static 'pages/assets/custom-css/login/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="auth-form-wrap py-xl-0">
        <div class="auth-form d-flex flex-column gap-4 w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
            <form method="POST" class="login-form">
                {% csrf_token %}
                <h1 class="display-4 mb-30 text-center">
                    {% if token_fail %}
                        <p>Link expired</p>
                    {% else %}
                        <p>Provide new password</p>
                    {% endif %}
                </h1>
                <div class="login-form">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p class="no-token-msg">
                            Password reset link is invalid or it might expired. Ask for a new one by clicking this <a class="fs-link" href="{{ passwd_reset_url }}">link</a>
                        </p>
                    {% else %}
                        {{ form.non_field_errors}}
                        {% for field in form %}
                            <label class="mb-0" for="{{ field.auto_id }}">
                                {{ field.label }}
                                <input class="form-control" type="{{ field.field.widget.input_type }}" id="{{ field.auto_id }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>
                                {{ field.errors }}
                            </label>
                        {% endfor %}
                        <div class="d-flex flex-column mt-30">
                            <button class="btn btn-dark shadow-lg mb-10" type="submit" name="action">Change password</button>
                            <a class="btn btn-outline-dark" href="/accounts/login/">Sign in</a>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src={% static 'pages/vendors/owl.carousel/owl.carousel.min.js' %}></script>
    <script defer src={% static 'pages/assets/js/login-data.js' %}></script>
{% endblock content %}


