{% extends 'home-post-login.html' %}
{% load static %}
{% block title %} - Forgot password{% endblock title %}


{% block content %}
    <div class="col-xl-12 py-20">
        <div class="container">
            <div class="w-100">
                <div class="d-flex flex-column card pa-20 shadow-lg">
                    {% include 'partials/messages_list.html' %}
                    <div class="card-text">
                        <h1 class="font-20 font-weight-600 text-capitalize">Zmiana hasła</h1>
                        <p>Uzupełnij poniższy formularz w celu zmiany hasła.</p>
                    </div>
                    <div class="auth-form w-100">
                        {% url '/profile' as action_url %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <div>
                                <label class="d-flex flex-column" for="id_old_password">
                                    Stare hasło:
                                    <input class="form-control" id="id_old_password" name="old_password" type="password" autocomplete="current-password" placeholder="Stare hasło" autofocus required>
                                    <div class="text-danger">
                                        {{ form.errors.old_password }}
                                    </div>
                                </label>
                                <hr class="border-1 border-dark my-30"/>
                                <div>
                                    <label class="d-flex flex-column" for="id_new_password1">
                                        Nowe hasło:
                                        <input class="form-control" id="id_new_password1" name="new_password1" type="password" autocomplete="new-password" required>
                                        <div class="text-danger">
                                            {{ form.errors.new_password1 }}
                                        </div>
                                    </label>
                                    <label class="d-flex flex-column" for="id_new_password2">
                                        Potwierdź hasło:
                                        <input class="form-control" id="id_new_password2" name="new_password2" type="password" autocomplete="new-password" required>
                                        <div class="text-danger">
                                            {{ form.errors.new_password2 }}
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2">
                                <button class="btn btn-gradient-danger shadow-lg" type="submit">Zmień hasło</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

