{% extends "home.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/assets/custom-css/login/login.css' %}">
{% endblock %}
<title>{% block title %} - Reset password{% endblock %}</title>

{% block content %}
    <div class="auth-form-wrap py-xl-0">
        <div class="auth-form d-flex flex-column gap-4 w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
            {% include 'partials/messages_list.html' %}
            <form method="POST" class="login-form">
                {% csrf_token %}
                <h1 class="display-4 mb-10">Forgot password?</h1>
                <p class="mb-15">Fill form below with Your email and we will send link to reset Your password</p>
                <div class="auth-form w-100">
                {% url '/profile' as action_url %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    <div>
                        <label class="d-flex flex-column" for="id_email">
                            Email:
                            <input class="form-control" id="id_email" name="email" type="email" autocomplete="email" maxlength="254" required placeholder="Enter email">
                            <div class="text-danger">
                                {{ form.errors.email }}
                            </div>
                        </label>
                    </div>
                    <div class="d-flex flex-column gap-2 my-30">
                        <button class="btn btn-dark shadow-lg" type="submit">Send email</button>
                        <a class="btn btn-outline-dark shadow-lg" href="{% url 'main' %}">
                            Sign in
                        </a>
                    </div>
                </form>
            </div>
            </form>
        </div>
    </div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src={% static 'pages/vendors/owl.carousel/owl.carousel.min.js' %}></script>
    <script defer src={% static 'pages/assets/js/login-data.js' %}></script>
{% endblock %}