{% extends "home.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/assets/custom-css/login/login.css' %}">
{% endblock %}
<title>{% block title %} - Forgot password{% endblock %}</title>

{% block content %}
    <div class="auth-form-wrap py-xl-0">
        <div class="auth-form d-flex flex-column gap-4 w-xxl-55 w-xl-75 w-sm-90 w-xs-100">
            {% include 'partials/messages_list.html' %}
            <form method="POST" class="login-form">
                {% csrf_token %}
                <h1 class="display-4 mb-10">Forgot password?</h1>
                <p class="mb-15">We've sent You and email containing link to reset Your password. If You can't see email in primary folder, check spam.<br/> If You didn't receive email within few minutes, feel free to contact us.</p>
                <a class="btn btn-dark" href="{% url 'main' %}">
                    Sign in
                </a>
            </form>
        </div>
    </div>
    
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src={% static 'pages/vendors/owl.carousel/owl.carousel.min.js' %}></script>
    <script defer src={% static 'pages/assets/js/login-data.js' %}></script>
{% endblock %}