{% extends 'home.html' %}
{% load static %}
{% block title %}
    - Zarejstrono
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'pages/assets/custom-css/logout/logout.css' %}">
    <link rel="stylesheet" href="{% static 'pages/assets/css/style.css' %}">
{% endblock styles %}

{% block content %}
    <div class="logout-wrapper">
        <div class="logout">
            <h1 class="display-5">Signed up successfully <img src="{% static 'pages/assets/img/check-circle.svg' %}" alt="Success"></h1>
            <hr class="border-dark"/>
            <p class="logout_message text-muted">Your account has been successfully activated, now You can sign in by clicking button below</p>
            <a class="btn btn-dark shadow-lg w-100" href="/accounts/login">Sign in</a>
        </div>
    </div>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src={% static 'pages/vendors/owl.carousel/owl.carousel.min.js' %}></script>
    <script defer src={% static 'pages/assets/js/login-data.js' %}></script>
    <script defer src="{% static 'pages/assets/custom-js/required-labels.js' %}"></script>
{% endblock content %}
